outputDir = "results"

lineage {
    enabled = true
}

// manifest {
//     contributors = [
//         {
//             name = "Steven Murray"
//             email = "murray.steveng@gmail.com"

//         }
//         defaultBranch = 'main'
//         description = 'A Nextflow pipeline for EDGES-2 data'
//         nextflowVersion = '>=25.04.0'
//         organization = "edges-collab"
//     ]
// }

nextflow {
    retryPolicy {
        delay = "750ms"
    }
    preview.output = true
}

report {
    enabled = true
    file = "reports/report-<timestamp>.html"
}

workflow {
    output {
        enabled = true
        mode = 'copy'   
    }
}

process {
    cache = true
}

params {
    // High-level Configuration
    ants11_config = "configs/ants11.yaml"
    beamfac_config = "configs/beamfac.yaml"
    rcvcal_config = "configs/rcvcal.yaml"

    kernel = "bowman2018-pipeline"
    
    // Parameters controlling the raw data cache (which we want to run only once if possible)
    rawdata_dir = "/data5/edges/data/2014_February_Boolardy/mro/low/"
    lst_setter = "fast"
    telescope = "edges-low-alan"
    force_reconvert = false
    raw_gsh5_cache = "/data7/smurray/edges/b18-raw-gsh5-cache"

    // Options to set the cut of data run through.
    min_year = 2016
    min_day = 250
    max_year = 2017
    max_day = 95
}


profiles {
    injectbeam_injectrfi {
        params {
            label = "injectbeam-injectrfi"
            dayavg_config = "configs/dayavg-injectflags.yaml"
            daycal_config = "configs/daycal-injectbeam.yaml"
            lstavg_config = "configs/lstavg-strict.yaml"
        }
    }

    injectbeam_doxrfi {
        params {
            label = "injectbeam-doxrfi"
            dayavg_config = "configs/dayavg-doxrfi.yaml"
            daycal_config = "configs/daycal-injectbeam.yaml"
            lstavg_config = "configs/lstavg-lenient.yaml"
        }
    }
    legacylst_injectrfi {
        params {
            label = "legacylst-injectrfi"
            dayavg_config = "configs/dayavg-injectflags.yaml"
            daycal_config = "configs/daycal-legacy-lsts.yaml"
            lstavg_config = "configs/lstavg-strict.yaml"
        }
    }
    legacylstgrid_injectrfi {
        params {
            label = "legacylstgrid-injectrfi"
            dayavg_config = "configs/dayavg-injectflags.yaml"
            daycal_config = "configs/daycal-legacy-lst-grid.yaml"
            lstavg_config = "configs/lstavg-strict.yaml"
        }
    }
    legacylstgrid_doxrfi {
        params {
            label = "legacylstgrid-doxrfi"
            dayavg_config = "configs/dayavg-doxrfi.yaml"
            daycal_config = "configs/daycal-legacy-lst-grid.yaml"
            lstavg_config = "configs/lstavg-lenient.yaml"
        }
    }
    alllsts_injectrfi {
        params {
            label = "alllsts-injectrfi"
            dayavg_config = "configs/dayavg-injectflags.yaml"
            daycal_config = "configs/daycal-all-lsts.yaml"
            lstavg_config = "configs/lstavg-lenient.yaml"
        }
    }

    allunflaggedlsts_injectrfi {
        params {
            label = "allunflaggedlsts-injectrfi"
            dayavg_config = "configs/dayavg-injectflags.yaml"
            daycal_config = "configs/daycal-all-unflagged-lsts.yaml"
            lstavg_config = "configs/lstavg-lenient.yaml"
        }
    }

    legacylstgrid_doxrfi_nolastrfi {
        params {
            label = "legacylstgrid-doxrfi-nolastrfi"
            dayavg_config = "configs/dayavg-doxrfi.yaml"
            daycal_config = "configs/daycal-legacy-lst-grid.yaml"
            lstavg_config = "configs/lstavg-norfi.yaml"
        }
    }
    
}